*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans';
    display: flex;
    height: 100vh;
}

.left-div {
    display: flex;
    flex-direction: column;
    width: 92.3rem;
}

.header-two {
    height: 8.4rem;
    width: 99rem;
    padding: 3rem 0px 3rem 6rem;
}
  header{
    background-color: #7025fb;
    height: 8.4rem;
    width:92.3rem;
    padding: 3rem 0px 3rem 6rem;
  }
  .chess {
    width: 923px;
  }
a{
    color: inherit;
    text-decoration: none;
}

.image-div div{
    position: absolute;
    top: 26.7rem;
    left: 11.7rem;
}
.masters-txt{
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    font-size: 2.6rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    color: #212529;
}
.name-txt{
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-transform: uppercase;
    color: #093F68;
    text-align: right;
    margin-top: 3.2rem;
}
.header-two{
    left: 92.3rem;
    position: absolute;
    border-bottom: 1px solid rgba(185, 180, 196, 0.3);

    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    text-transform: capitalize;
    color: #212529;
}
.image{
    display: flex;
    background-image: url(../Images/chess.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 92.3rem;
    height: 100vh;
    font-family: 'Nunito';
}
.second-div {
    padding-left: 4.8rem;
}
.check-div{
    margin-top: 14.4rem;
    display: flex;
    flex-direction: row;
}
.hr{
    margin-left: 3rem;
    margin-right: 4.4rem;
}
hr{
    position: absolute;
    width: 17.4rem;
    margin-top: 2rem;
    border: 1px solid rgba(185, 180, 196, 0.3);
}
.check-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    font-size: 1.6rem;
    line-height: 150%;
    color: #000000;
}
.green-box, .number-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;

    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #212529;
}
.green-box{
    background-color: #E9FAF1;
}
.number-box{
    border: 1px solid #E5E6E8;
}
.number-boxActive{
    border: none;
    background-color: #E9FAF1;
}
.title-div{
    margin-top: 11.4rem;
}
.title-div h1{
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 150%;
    color: #000000;
}
.title-div p{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 150%;
    text-transform: capitalize;
    color: #95939A;
}
.input-divs{
    margin-top: 9.5rem;
}
.red{
    cursor: pointer;
    border: none;
    outline: none;
    width: 39.2rem;
    height: 4.6rem;
    padding-left: 1.6rem;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    background-color: transparent;
    position: relative;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: #212529;
    margin-left: -1rem;
    z-index: 1;
}
.input-first .select{
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 39.2rem;
    padding: 2rem 0 2rem;
    gap: 2rem;
    margin-top: 0.4rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: #212529;
    background: #FFFFFF;
    border: 1px solid rgba(185, 180, 196, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    display: none;
}
.input {
    background-color: #fff;
    border-radius: 4px;
    position: relative;
  }
.placeholder {
    position: absolute;
    left: 17.6rem;
    top: 60%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: #212529;
  }

.placeholder::after {
    content: " *";
    color: red;
}

.two{
    left: 21rem;
}
.input-first.active .placeholder::after {
    visibility: hidden;
    opacity: 0;
}
.input-firstTwo .selectTwo{
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 39.2rem;
    padding: 2rem 0 3rem 0;
    gap: 2rem;
    margin-top: 0.4rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: #212529;
    background: #FFFFFF;
    border: 1px solid rgba(185, 180, 196, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: none;
}
.input-first.active .select{  
    display: block;
}
.input-firstTwo.active .selectTwo{  
    display: flex;
}
.input-first::before{
    content: '';
    position: relative;
    float: right;
    top: 1.9rem;
    right: 2rem;
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid #212529;
    z-index: 10000;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}
.input-firstTwo::before{
    content: '';
    position: relative;
    float: right;
    top: 1.9rem;
    right: 2rem;
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid #212529;
    z-index: 10000;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}
.input-first.active::before{
    top: 2rem;
    transform: rotate(-225deg);
}
.input-firstTwo.active::before{
    top: 2rem;
    transform: rotate(-225deg);
}
.select-inputs{
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
}
.input-first .select div{
    padding: 0.8rem 2rem;
    height: 4.5rem;
    width: 100%;
}
.input-first .selectTwo div{
    padding: 0.8rem 2rem;
    height: 4.5rem;
    width: 100%;
}
.input-first .select div:hover{
    background-color: #F7F7F9;
    color: black;
    font-weight: 600;
}
.input-firstTwo .selectTwo div:hover{
    background-color: #F7F7F9;
    color: black;
    font-weight: 600;
}
.none{
    display: none;
}
.spanRed{
    font-size: 2rem;
    color: red !important;
}
.grandmaster-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.grandmaster-option:hover{
    background-color: #F7F7F9;
}
.grandmaster-image {
    width: 10rem;
    height: 7.2rem;
}
.option-levelTwo{
    padding-left: 2.8rem;
    padding-right: 1.9rem;
}
.total{
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    text-transform: capitalize;
    color: #817D7D;
    margin-bottom: -0.8rem;
    padding-left: 2.8rem;
}
.input-radio{
    display: flex;
    flex-direction: column;
    margin-top: 8.8rem;
    gap: 2rem;
}
.radio {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    vertical-align: text-bottom;

    width: 2rem;
    height: 2rem;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
  }
   
  .radio:checked {
    border-color: #0D6EFD;
    border-width: 5px;
  }

.input-radio p{
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: #212529;
}
form{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1.8rem;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: #212529;
}
label{
    cursor: pointer;
}
.last-div{
    margin-top: 17.4rem;
    display: flex;
    flex-direction: row;
    gap: 60.5rem;
}
button{
    cursor: pointer;
    width: 9.9rem;
    height: 5.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    border: none;

    font-weight: 400;
    font-size: 2rem;
    line-height: 2.7rem;
    text-transform: capitalize;
    margin-bottom: 15rem;
}
.back{
    border: 1px solid #212529;
    background-color: white;
    color: #212529;
}
.back:hover{
    background-color: #95939A;
    color: white;
    border: white;
}
.done{
    color: white;
    background-color: #212529;
}
.done:hover{
    background-color: #95939A;
    color: white;
    border: white;
}