@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.white-container {
  width: 997px;
  height: 1080px;
  background-color: #f5f5f5;
  padding-top: 30px;
  position: relative;
}

h5 {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 24px;
  width: 215px;
  margin-left: 48px;
}

.hr {
  height: 1px;
  width: 999px;
  background-color: #b9b4c3;
  margin-top: 30px;
  opacity: 30%;
}

.check-box {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 60px;
  margin-left: 107px;
}

.first-box {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 1px solid #e5e6e8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
}

.small-hr {
  height: 0px;
  width: 174.00000000000065px;
  border-radius: nullpx;
  background-color: #b9b4c3;
  margin-top: 20px;
  opacity: 30%;
}

.path {
  display: none;
}

.second-box {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 1px solid #e5e6e8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  color: #95939a;
  background-color: #e5e6e8;
}

.Personal-information {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 24px;
  width: 158px;
}

.Chess-experience {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  height: 24px;
  width: 131px;
}

.description-div {
  display: flex;
  flex-direction: row;
  gap: 77px;
  margin-left: 48px;
}

h6 {
  height: 48px;
  width: 328px;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 48px;
  margin-top: 112px;
}

.basic-informaton {
  height: 21px;
  width: 205px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #95939a;
  margin-left: 48px;
  margin-top: 3px;
}

.Invalid-div {
  height: 87px;
  width: 350px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 226px;
  left: 608px;
}

.email {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #dc3545;
}

.invalid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 9px;
}

.images {
  display: flex;
  gap: 8px;
  margin-left: 12px;
}

.image1 {
  height: 20px;
  width: 20px;
}

.close {
  height: 10px;
  width: 10px;
  margin-right: 12px;
}

.hr-invalid {
  height: 0px;
  width: 350px;
  opacity: 15%;
  margin-top: 9px;
}

.address {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 12px;
  margin-top: 8px;
}
